@*@page
@model classblog2.Views.Sweets.DetailsModel
@{*@

@*@model Tea*@

@*@model IEnumerable<Kaizen.Models.Tea>*@
@*<h1>@</h1>

<div class="thumbnail">
    @*<img alt="@Model.TeaName" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
         <h3 class="pull-right">@Model.price</h3>
        <h3><a href="#">@Model.TeaName</a></h3>
        <p>@Model.TeaDescription</p>
    </div>*@



</div>


@*}*@